@model PaginatedList<SciencePortalMVC.Models.Project>

@{
    ViewData["Title"] = "Проекты";
}

<h1>Проекты</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Добавить новый проект</a>
    </p>
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Найти проект: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Поиск" class="btn btn-primary" /> |
            <a asp-action="Index">Сбросить фильтр</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FundingOrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Leader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FundingOrg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leader.FullName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProjectId">Детали</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <text> | </text>
                        <a asp-action="Edit" asp-route-id="@item.ProjectId">Редактировать</a>
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.ProjectId">Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Назад
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Вперед
</a>